.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@font-face {
  font-family: "Helvetica";
  font-display: swap;
  src: url("../fonts/helvetica_neu_bold-webfont.woff") format("woff"), url("../fonts/helvetica_neu_bold-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  font-display: swap;
  src: url("../fonts/helveticaneue_medium-webfont.woff") format("woff"), url("../fonts/helveticaneue_medium-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

._container {
  max-width: 1180px;
  width: 100%;
  margin: 0px auto;
  padding: 0px 20px;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 100vh;
}

body._lock {
  overflow: hidden;
}

.area {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 8;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.area._active {
  opacity: 1;
  visibility: visible;
}

.title {
  font-size: 30px;
  margin-bottom: 30px;
  color: #242424;
}

.container {
  padding: 150px 110px 150px 15px;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Helvetica";
  font-size: 14px;
}

body {
  font-family: "Helvetica";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.footer {
  overflow: hidden;
}

.footer__top {
  background: #3C3C3C;
}

.footer__bottom {
  background: #252525;
  padding: 80px 0px;
}

.footer__widget {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 350px;
          flex: 0 1 350px;
}

.footer__logo {
  margin: 0px 0px 10px;
  max-width: 137px;
  display: block;
  width: 100%;
}

.footer__logo img {
  width: 100%;
}

.footer__wrapper {
  height: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__copyright {
  font-size: 12px;
  color: #ffffff66;
  line-height: 1.5;
}

.footer__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -30px;
}

.footer__item {
  margin: 0px 30px;
}

.footer__item._active a {
  color: #FBB808;
}

.footer__item a {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  text-transform: uppercase;
  color: #fff;
}

.subscribe {
  padding: 100px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 635px;
          flex: 0 1 635px;
  min-width: 300px;
  width: 100%;
  margin-right: 20px;
}

.subscribe__name {
  margin: 0px 0px 10px 0px;
  font-size: 36px;
  color: #fff;
}

.subscribe__name span {
  color: #FBB808;
}

.subscribe__paragraph {
  color: #b3b1b1;
  font-size: 16px;
  line-height: 1.9;
}

.subscribe__form {
  height: 50px;
  max-width: 445px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 300px;
}

.subscribe__form input {
  height: 100%;
  padding: 0px 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.subscribe__form input::-webkit-input-placeholder {
  font-style: italic;
}

.subscribe__form input::-moz-placeholder {
  font-style: italic;
}

.subscribe__form input:-ms-input-placeholder {
  font-style: italic;
}

.subscribe__form input::-ms-input-placeholder {
  font-style: italic;
}

.subscribe__form input::placeholder {
  font-style: italic;
}

.subscribe__form button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 125px;
          flex: 0 0 125px;
  background: #FBB808;
  color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@-webkit-keyframes button {
  0%, 100% {
    -webkit-box-flex: 0;
            flex: 0 0 125px;
  }

  50% {
    -webkit-box-flex: 0;
            flex: 0 0 140px;
  }
}

@keyframes button {
  0%, 100% {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 125px;
            flex: 0 0 125px;
  }

  50% {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 140px;
            flex: 0 0 140px;
  }
}

.sidebar {
  width: 320px;
  height: 100%;
  min-height: 100vh;
  background: #fff;
  padding: 60px 75px;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 320px;
          flex: 0 0 320px;
  z-index: 10;
}

.sidebar__close {
  width: 40px;
  height: 40px;
  background: #FBB808;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 12px;
}

.sidebar__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar__logo {
  margin: 0px 0px 100px;
  width: 100%;
  max-width: 137px;
  display: block;
}

.sidebar__logo img {
  width: 100%;
}

.sidebar__menu {
  margin-bottom: 30px;
}

.sidebar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar__item {
  position: relative;
}

.sidebar__item:before {
  content: '';
  background: #FBB808;
  height: 3px;
  top: 50%;
  left: -75px;
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  width: 30px;
  position: absolute;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.sidebar__item._active:before {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.sidebar__item a {
  color: #131212;
  width: 100%;
  padding: 20px 0px;
  display: inline-block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  text-transform: uppercase;
  line-height: 12px;
}

.sidebar__actions {
  margin: 0px 0px 50px;
}

.sidebar__btn {
  width: 160px;
  height: 55px;
  font-size: 18px;
  color: #fff;
}

.sidebar__btn_1 {
  background: #FBB808;
  margin: 0px 0px 15px;
}

.sidebar__btn_2 {
  background: #131212;
}

.sidebar__addition {
  margin-bottom: 50px;
}

.addition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.addition__item {
  color: #131212;
  font-size: 16px;
  padding: 15px 0px;
  text-transform: uppercase;
  padding-left: 41px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.addition__cart {
  background: url("../img/cart.png") center left/21px auto no-repeat;
}

.addition__cart span {
  color: #9e9e9e;
}

.addition__favourite {
  background: url("../img/favorites.png") center left/21px auto no-repeat;
}

.addition__search {
  background: url("../img/search.png") center left/21px auto no-repeat;
}

.socials {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.socials__item {
  font-size: 18px;
  color: #b5b5b5;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@-webkit-keyframes buttonSide {
  0%, 100% {
    width: 160px;
  }

  50% {
    width: 180px;
  }
}

@keyframes buttonSide {
  0%, 100% {
    width: 160px;
  }

  50% {
    width: 180px;
  }
}

.mnb {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  width: 100%;
  z-index: 9;
  background: #fff;
}

.mnb__container {
  padding: 0px 20px;
  position: relative;
  width: 100%;
  height: 95px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mnb__logo {
  max-height: 55px;
  display: block;
}

.mnb__logo img {
  height: 100%;
}

.mnb__burger {
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 10000;
}

.mnb__burger._active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.mnb__burger._active:before {
  top: 0;
  -webkit-transform: rotate(45deg) translate(4px, -2px);
      -ms-transform: rotate(45deg) translate(4px, -2px);
          transform: rotate(45deg) translate(4px, -2px);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  width: 49px;
}

.mnb__burger._active:after {
  bottom: auto;
  top: 0;
  left: auto;
  right: 0;
  -webkit-transform-origin: right top;
      -ms-transform-origin: right top;
          transform-origin: right top;
  -webkit-transform: rotate(-45deg) translate(-4px, -2px);
      -ms-transform: rotate(-45deg) translate(-4px, -2px);
          transform: rotate(-45deg) translate(-4px, -2px);
  width: 49px;
}

.mnb__burger:before,
.mnb__burger:after,
.mnb__burger span {
  content: '';
  width: 100%;
  background: #FBB808;
  height: 4px;
  position: absolute;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-radius: 2px;
}

.mnb__burger:before {
  top: 7px;
}

.mnb__burger:after {
  bottom: 7px;
}

.mnb__burger span {
  top: 50%;
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
}

.filter {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 230px;
          flex: 0 0 230px;
  background: #F5F7FA;
  padding: 100px 40px;
}

.filter__title {
  margin-bottom: 30px;
  color: #242424;
  font-size: 16px;
  line-height: calc(20/16);
}

.filter__form_color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filter__input label {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.filter__input_color:nth-child(1) label {
  background: #ffffff;
}

.filter__input_color:nth-child(2) label {
  background: #969696;
}

.filter__input_color:nth-child(3) label {
  background: #030303;
}

.filter__input_color:nth-child(4) label {
  background: #3015ff;
}

.filter__input_color:nth-child(5) label {
  background: #DC0647;
}

.filter__input_color:nth-child(6) label {
  background: #fff56a;
}

.filter__input_color:nth-child(7) label {
  background: #f26e51;
}

.filter__input_color:nth-child(8) label {
  background: #9A8777;
}

.filter__input_color label {
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  margin: 0px 0px 15px;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 7.5px;
}

.filter__input_color input:checked + label {
  -webkit-box-shadow: 0 0 10px #fbb808;
          box-shadow: 0 0 10px #fbb808;
}

.filter__input_dot {
  padding: 15px 0px 15px 20px;
}

.filter__input_dot label {
  line-height: calc(24/16);
  font-size: 16px;
  color: #959595;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}

.filter__input_dot label:after {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  content: '';
  position: absolute;
  left: -20px;
  top: 50%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #959595;
  -webkit-transform: translate(0, -50%) translate(0px, -2px);
      -ms-transform: translate(0, -50%) translate(0px, -2px);
          transform: translate(0, -50%) translate(0px, -2px);
}

.filter__input_dot input:checked + label:after {
  background: #FBB808;
}

.filter__input input {
  display: none;
}

.filter__input input:checked + label {
  color: #FBB808;
}

.filter__categories {
  margin: 0px 0px 50px;
}

.filter__brands {
  margin: 0px 0px 50px;
}

.filter__color {
  margin: 0px 0px 50px;
}

.filter__range {
  line-height: calc(24/16);
  font-size: 16px;
  color: #959595;
  margin-top: 30px;
}

.price-filter {
  width: 150px;
  height: 2px;
  background: #C7D2D8;
}

.price-filter .noUi-base {
  position: relative;
  height: 2px;
}

.price-filter .noUi-connect {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform-style: flat;
          transform-style: flat;
  background: #FBB808;
}

.price-filter .noUi-connects {
  overflow: hidden;
  position: relative;
  height: 2px;
}

.price-filter .noUi-tooltip {
  position: absolute;
  bottom: 0;
}

.price-filter .noUi-handle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #fff;
  position: relative;
  top: -8px;
  cursor: pointer;
  border: 2px solid #FBB808;
}

.price-filter .noUi-handle-lower {
  left: 15px;
}

.price-filter .noUi-origin {
  width: 10%;
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform-style: flat;
          transform-style: flat;
}

.content._csp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content {
  width: 100%;
}

.mpmc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.mpmc__item {
  position: relative;
  display: block;
  max-width: 33.33%;
  width: 100%;
}

.mpmc__item img {
  width: 100%;
}

.item-mpmc__content {
  padding-top: 18px;
  position: absolute;
  top: 40px;
  left: 40px;
  z-index: 2;
}

.item-mpmc__content:before {
  top: 0px;
  left: 0px;
  content: '';
  position: absolute;
  width: 80px;
  height: 3px;
  background: #FBB808;
}

.item-mpmc__price {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-size: 16px;
  margin: 0px 0px 5px;
  color: #6d6d6d;
}

.item-mpmc__name {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-size: 24px;
  color: #242424;
  line-height: calc(31/24);
}

.item-mpmc__overlay {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3c3c3cb3;
}

.spmc {
  width: 100%;
}

.spmc__container {
  padding: 100px 110px 100px 15px;
}

.spmc__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.spmc__widget {
  margin-right: 20px;
}

.spmc__show {
  margin: 0px 0px 15px;
  color: #242424;
  text-transform: uppercase;
  line-height: calc(26/14);
}

.spmc__display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.spmc__plate,
.spmc__row {
  width: 40px;
  height: 40px;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: #fff;
}

.spmc__plate {
  background: #FBB808;
}

.spmc__row {
  background: #131212;
}

.spmc__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.spmc__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
}

.spmc__input {
  line-height: 40px;
  background: #F5F7FA;
  padding: 0px 0px 0px 15px;
  color: #959595;
  position: relative;
}

.spmc__input i {
  right: 10px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  position: absolute;
}

.spmc__input select {
  width: 100px;
  height: 100%;
  padding-left: 10px;
  background: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  font-family: 'Helvetica';
  color: #212529;
  font-size: 14px;
}

.spmc__input_sort {
  margin: 0px 15px 0px 0px;
}

.spmc__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 40px;
}

.spmc__pagination a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #242424;
  width: 40px;
  height: 40px;
}

.spmc__pagination a._active {
  background: #FBB808;
  color: #fffd;
}

.spmc__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
}

.spmc__column {
  padding: 0px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin-bottom: 50px;
}

.item-spmc__picture {
  margin-bottom: 25px;
  max-width: 100%;
  display: block;
  width: 100%;
}

.item-spmc__picture img {
  width: 100%;
}

.item-spmc__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 72px;
  position: relative;
  padding-top: 18px;
}

.item-spmc__body:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 3px;
  background: #FBB808;
}

.item-spmc__cost {
  font-size: 24px;
  line-height: 1;
  color: #FBB808;
  margin: 0px 0px 10px;
}

.item-spmc__name {
  font-size: 16px;
  color: #242424;
}

.item-spmc__addition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.item-spmc__rate i {
  font-size: 10px;
  color: #FBB808;
  margin-right: 5px;
}

.item-spmc__rate i:last-child {
  margin-right: 0;
}

.item-spmc__cart {
  margin-top: 10px;
}

.ppmc__container {
  width: 100%;
  padding: 150px 110px 100px 15px;
}

.ppmc__catalog {
  padding: 12px 0px 0px 16px;
  margin: 0px 0px 28px;
}

.ppmc__catalog a,
.ppmc__catalog span {
  font-size: 14px;
  color: #242424;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  padding: 0px 25px 0px 0px;
  position: relative;
}

.ppmc__catalog a:last-child:before,
.ppmc__catalog span:last-child:before {
  display: none;
}

.ppmc__catalog a:before,
.ppmc__catalog span:before {
  content: '>';
  color: #6c757d;
  position: absolute;
  top: -1px;
  right: 6px;
}

.ppmc__catalog span {
  color: #6c757d;
}

.ppmc__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ppmc__product {
  max-width: 840px;
  width: 100%;
  margin-right: 20px;
}

.ppmc__slider {
  margin-bottom: 30px;
  width: 100%;
}

.ppmc__dots {
  margin: 0px -2.5px;
}

.ppmc__dots .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  position: relative;
}

.ppmc__dots .slick-dots li {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0px 2.5px;
}

.ppmc__dots .slick-dots li.slick-active button {
  border: 2px solid #FBB808;
}

.ppmc__dots .slick-dots li button {
  height: 140px;
  font-size: 0;
  width: 100%;
}

.ppmc__dots .slick-dots li button#slick-slide-control00 {
  background: url("../img/pro-big-1.jpg") 0 0/100% auto no-repeat;
}

.ppmc__dots .slick-dots li button#slick-slide-control01 {
  background: url("../img/pro-big-2.jpg") 0 0/100% auto no-repeat;
}

.ppmc__dots .slick-dots li button#slick-slide-control02 {
  background: url("../img/pro-big-3.jpg") 0 0/100% auto no-repeat;
}

.ppmc__dots .slick-dots li button#slick-slide-control03 {
  background: url("../img/pro-big-4.jpg") 0 0/100% auto no-repeat;
}

.slider-ppmc .slick-track {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-ppmc .slick-list {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider-ppmc__item {
  max-width: 840px;
  width: 100%;
}

.slider-ppmc__item img {
  width: 100%;
}

.info-ppmc__main {
  margin: 0px 0px 50px;
}

.info-ppmc__price {
  position: relative;
  padding: 18px 0px 0px;
  font-size: 24px;
  color: #FBB808;
  line-height: 1;
  margin-bottom: 10px;
}

.info-ppmc__price:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 3px;
  background: #FBB808;
}

.info-ppmc__name {
  font-size: 30px;
  line-height: calc(39/30);
  color: #242424;
  margin-bottom: 5px;
}

.info-ppmc__rate {
  margin: 0px 0px 15px 0px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info-ppmc__stars i {
  font-size: 10px;
  color: #FBB808;
  margin-right: 2.5px;
}

.info-ppmc__stars i:last-child {
  margin: 0;
}

.info-ppmc__review {
  color: #6b6b6b;
}

.info-ppmc__availability {
  font-size: 12px;
  color: #6b6b6b;
  position: relative;
  padding: 0px 0px 0px 15px;
}

.info-ppmc__availability._available:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #20d34a;
}

.info-ppmc__description {
  font-size: 16px;
  color: #6b6b6b;
  line-height: calc(33/16);
  margin-bottom: 50px;
}

.info-ppmc__quantity {
  width: 150px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F5F7FA;
  margin: 0px 0px 50px;
}

.info-ppmc__quantity span {
  font-size: 16px;
  color: #6d6d6d;
  padding: 0px 15px;
  display: inline-block;
  line-height: 40px;
}

.info-ppmc__quantity input {
  text-align: center;
  color: #6d6d6d;
  width: 100%;
  background: transparent;
}

.info-ppmc__confirm button {
  width: 310px;
  height: 80px;
  background: #FBB808;
  font-size: 18px;
  color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.cpmc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cpmc__table {
  max-width: 950px;
  display: grid;
  margin-right: 20px;
}

.cpmc__names {
  height: 40px;
  grid-template-columns: minmax(80px, 240px) minmax(80px, 240px) minmax(64px, 240px) minmax(66px, 240px);
  display: grid;
  background: #F5F7FA;
}

.cpmc__names .cpmc__item {
  font-size: 12px;
  color: #242424;
  padding: 12px;
}

.cpmc__item {
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cpmc__item img {
  width: 100%;
}

.cpmc__row {
  grid-template-columns: minmax(80px, 240px) minmax(80px, 240px) minmax(64px, 240px) minmax(66px, 240px);
  display: grid;
}

.cpmc__row .cpmc__item {
  font-size: 16px;
  color: #242424;
}

.cpmc__row .cpmc__item form {
  max-width: 120px;
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F5F7FA;
}

.cpmc__row .cpmc__item form span {
  padding: 0px 15px;
}

.cpmc__row .cpmc__item form input {
  text-align: center;
  font-size: 16px;
  color: #242424;
  width: 100%;
  height: 40px;
  background: transparent;
}

.total {
  max-width: 460px;
  width: 100%;
  background: #F5F7FA;
  padding: 35px 20px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.total__title {
  font-size: 18px;
  color: #242424;
}

.total__body {
  margin-bottom: 50px;
}

.total__row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #6b6b6b;
  margin-bottom: 35px;
}

.total__row:last-child {
  margin-bottom: 0;
}

.total__btn {
  width: 100%;
  height: 55px;
  background: #FBB808;
  font-size: 18px;
  color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copmc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.copmc__form {
  max-width: 940px;
  width: 100%;
  margin: 0px 20px 0px 0px;
}

.copmc__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -15px 20px;
}

.copmc__input {
  width: 100%;
  padding: 0px 15px;
  position: relative;
  margin-bottom: 30px;
}

.copmc__input._half {
  width: 50%;
}

.copmc__input i {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: 40px;
  color: #6b6b6b;
}

.copmc__input input,
.copmc__input select,
.copmc__input textarea {
  height: 60px;
  width: 100%;
  background: #F5F7FA;
  padding: 0px 30px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-size: 14px;
  color: #6b6b6b;
  outline: 3px solid transparent;
}

.copmc__input input:focus,
.copmc__input select:focus,
.copmc__input textarea:focus {
  outline: 3px solid #BFDEFF;
}

.copmc__input textarea {
  height: 210px;
  padding: 30px;
}

.copmc__addition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -15px;
}

.copmc__checkbox {
  margin-bottom: 20px;
}

.copmc__checkbox input {
  display: none;
}

.copmc__checkbox input:checked + label:after {
  background: #007BFF url("../img/check.svg") center center/8px 8px no-repeat;
}

.copmc__checkbox label {
  height: 16px;
  display: inline-block;
  line-height: 16px;
  padding: 0px 0px 0px 25px;
  color: #6b6b6b;
  position: relative;
}

.copmc__checkbox label:after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background: #DEE2E6;
  border-radius: 5px;
  left: 0;
  top: 0;
}

@media (min-width: 769px) {
  .sidebar__close {
    display: none;
  }

  .mnb {
    display: none;
  }
}

@media (min-width: 992px) {
  .footer__item:hover a {
    color: #FBB808;
  }

  .subscribe__form button:hover {
    -webkit-animation: button 1s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.15s;
            animation: button 1s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.15s;
  }

  .sidebar__item:hover:before {
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
  }

  .sidebar__item a:hover {
    color: #FBB808;
  }

  .sidebar__btn_1:hover {
    -webkit-animation: buttonSide 1s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.15s;
            animation: buttonSide 1s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.15s;
  }

  .sidebar__btn_2:hover {
    -webkit-animation: buttonSide 1s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.15s;
            animation: buttonSide 1s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.15s;
  }

  .addition__item:hover {
    color: #FBB808;
  }

  .socials__item:hover {
    color: #FBB808;
  }

  .filter__input_dot label:hover {
    color: rgba(249, 183, 17, 0.6);
  }

  .item-mpmc:hover .item-mpmc__overlay {
    opacity: 1;
    visibility: visible;
  }

  .item-mpmc:hover .item-mpmc__price {
    color: #fff;
  }

  .item-mpmc:hover .item-mpmc__name {
    color: #fff;
  }

  .spmc__pagination a:hover {
    background: #FBB808;
    color: #fff;
  }

  .ppmc__catalog a:hover,
  .ppmc__catalog span:hover {
    color: #FBB808;
  }

  .ppmc__catalog span:hover {
    color: #6c757d;
  }

  .info-ppmc__review:hover {
    text-decoration: underline;
  }

  .info-ppmc__confirm button:hover {
    background: #131212;
  }

  .total__btn:hover {
    background: #242424;
  }
}

@media (max-width: 1621px) {
  .ppmc__product {
    max-width: 500px;
  }

  .ppmc__dots .slick-dots li button {
    height: 100px;
  }

  .slider-ppmc__item {
    max-width: 500px;
  }
}

@media (max-width: 1450px) {
  .container._copmc {
    padding: 150px 15px;
  }
}

@media (max-width: 1280px) {
  .container._copmc {
    padding: 75px 15px;
  }

  .container {
    padding: 75px 15px;
  }

  .ppmc__info {
    max-width: 500px;
  }

  .ppmc__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .ppmc__product {
    margin-bottom: 50px;
    margin-right: 0;
  }

  .copmc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .copmc__form {
    margin: 0px 0px 50px;
  }
}

@media (max-width: 1240px) {
  .mpmc__item {
    max-width: 50%;
  }
}

@media (max-width: 1200px) {
  .spmc__container {
    padding: 100px 15px;
  }
}

@media (max-width: 1100px) {
  .cpmc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .cpmc__table {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .total {
    max-width: 100%;
  }
}

@media (max-width: 1075px) {
  .spmc__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .spmc__widget {
    margin-bottom: 20px;
  }
}

@media (max-width: 1024px) {
  ._container {
    max-width: 808px;
  }

  .subscribe {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .subscribe__text {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin: 0px 0px 30px 0px;
  }

  .subscribe__form {
    max-width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

@media (max-width: 992px) {
  .filter {
    padding: 60px 20px 100px;
  }

  .filter__title {
    margin-bottom: 15px;
  }

  .filter__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .filter__input_dot {
    padding: 0px 15px 15px;
  }

  .filter__categories {
    margin: 0px;
  }

  .filter__brands {
    margin: 0px;
  }

  .filter__color {
    margin: 0px;
  }

  .content._csp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .mpmc__item {
    max-width: 100%;
  }

  .spmc__container {
    padding: 20px 15px 50px;
  }

  .spmc__top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .spmc__widget {
    margin-bottom: 0;
  }
}

@media (max-width: 990px) {
  .ppmc__container {
    padding: 75px 15px;
  }
}

@media (max-width: 870px) {
  .ppmc__info {
    max-width: 400px;
  }

  .ppmc__product {
    max-width: 400px;
  }

  .slider-ppmc__item {
    max-width: 400px;
  }
}

@media (max-width: 840px) {
  .spmc__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .spmc__widget {
    margin-bottom: 20px;
  }
}

@media (max-width: 825px) {
  .copmc__input._half {
    width: 100%;
  }
}

@media (max-width: 768px) {
  ._container {
    max-width: 100%;
  }

  .footer__bottom {
    padding: 45px 0px;
  }

  .footer__widget {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin: 0px 0px 30px 0px;
  }

  .footer__logo {
    margin: 0px;
  }

  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
  }

  .footer__copyright {
    margin: 20px 0px 0px;
    max-width: 230px;
    text-align: center;
  }

  .footer__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__item {
    margin: 0px 15px 15px;
  }

  .subscribe {
    padding: 50px 0;
  }

  .sidebar {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    overflow: auto;
    -webkit-transform: translate(-20%, 0);
        -ms-transform: translate(-20%, 0);
            transform: translate(-20%, 0);
  }

  .sidebar._active {
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
    opacity: 1;
    visibility: visible;
  }

  .content {
    margin-top: 95px;
  }

  .mpmc__item {
    max-width: 50%;
  }

  .spmc__top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .spmc__widget {
    margin: 0;
  }

  .ppmc__info {
    max-width: 100%;
  }

  .ppmc__product {
    max-width: 100%;
  }

  .slider-ppmc__item {
    max-width: 738px;
  }

  .info-ppmc__confirm button {
    width: 290px;
  }
}

@media (max-width: 575px) {
  .mpmc__item {
    max-width: 100%;
  }
}

@media (max-width: 525px) {
  .spmc__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .spmc__widget {
    margin-bottom: 20px;
  }
}

@media (max-width: 475px) {
  .spmc__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .cpmc__item._qty {
    padding: 0;
  }
}

@media (max-width: 450px) {
  .ppmc__dots .slick-dots li button {
    height: 60px;
  }
}

@media (max-width: 425px) {
  ._container {
    padding: 0px 10px;
  }

  .subscribe {
    padding: 35px 0px;
  }

  .subscribe__name {
    margin: 0px 0px 20px;
    font-size: 32px;
  }

  .subscribe__paragraph {
    line-height: 1.2;
    font-size: 15px;
  }

  .subscribe__form {
    display: block;
    height: auto;
  }

  .subscribe__form input {
    width: 100%;
    height: 50px;
    margin: 0px 0px 20px;
  }

  .subscribe__form button {
    width: 100%;
    height: 50px;
  }
}

@media (max-width: 375px) {
  .spmc__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }

  .spmc__input_sort {
    margin: 0 0 20px;
  }
}

.webp .addition__cart { background: url(../img/cart.webp) center left/21px auto no-repeat; }

.webp .addition__favourite { background: url(../img/favorites.webp) center left/21px auto no-repeat; }

.webp .addition__search { background: url(../img/search.webp) center left/21px auto no-repeat; }

.webp .ppmc__dots .slick-dots li button#slick-slide-control00 { background: url(../img/pro-big-1.webp) 0 0/100% auto no-repeat; }

.webp .ppmc__dots .slick-dots li button#slick-slide-control01 { background: url(../img/pro-big-2.webp) 0 0/100% auto no-repeat; }

.webp .ppmc__dots .slick-dots li button#slick-slide-control02 { background: url(../img/pro-big-3.webp) 0 0/100% auto no-repeat; }

.webp .ppmc__dots .slick-dots li button#slick-slide-control03 { background: url(../img/pro-big-4.webp) 0 0/100% auto no-repeat; }